<app-breadcrumb
  [breadcrumbTitle]="top.header"
  [breadcrumbFooter]="top.text">
</app-breadcrumb>

<app-post
  [odd]="odd"
  [header]="header"
  [image]="image"
  [text]="text">
</app-post>

<app-post
  [even]="even"
  [header]="header"
  [image]="image"
  [text]="text">
</app-post>

<app-post
  [odd]="odd"
  [header]="header"
  [image]="image"
  [text]="text">
</app-post>

<app-post
  [even]="even"
  [header]="header"
  [image]="image"
  [text]="text">
</app-post>

<app-buttons
  [buttonText]="more">
>
</app-buttons>

<app-breadcrumb
  [breadcrumbTitle]="bottom.header"
  [breadcrumbFooter]="bottom.text">
</app-breadcrumb>

<app-description
  [textDesc]="text"
>
</app-description>

<app-gallery></app-gallery>

<h2 class="centerText">
  trebate web stranicu?
</h2>

<h3 class="centerText">
  na pravom ste mjestu!
</h3>

<app-buttons
  [buttonText]="mail">
</app-buttons>

<app-breadcrumb
  [breadcrumbTitle]="about.header"
  [breadcrumbFooter]="about.text">
</app-breadcrumb>

<app-description
  [textDesc]="text"
>
</app-description>

<app-team></app-team>

<app-breadcrumb
  style="margin-top: 50px;"
  [breadcrumbTitle]="contact.header"
  [breadcrumbFooter]="contact.text">
</app-breadcrumb>

<app-buttons
  [buttonText]="mail">
</app-buttons>

<footer
  class="height"
></footer>
