<div class="center-team">
  <div>
    <img src="https://i.picsum.photos/id/925/200/200.jpg?hmac=GRls_CYMB5cOj1RE3IwjOC0zUwiPc25idJNavVPWbtM" alt="image">
    <span>Profil 1</span>
    <span>Opis</span>
  </div>
  <div>
    <img src="https://i.picsum.photos/id/925/200/200.jpg?hmac=GRls_CYMB5cOj1RE3IwjOC0zUwiPc25idJNavVPWbtM" alt="image">
    <span>Profil 2</span>
    <span>Opis</span>
  </div>
  <div>
    <img src="https://i.picsum.photos/id/925/200/200.jpg?hmac=GRls_CYMB5cOj1RE3IwjOC0zUwiPc25idJNavVPWbtM" alt="image">
    <span>Profil 3</span>
    <span>Opis</span>
  </div>
  <div>
    <img src="https://i.picsum.photos/id/925/200/200.jpg?hmac=GRls_CYMB5cOj1RE3IwjOC0zUwiPc25idJNavVPWbtM" alt="image">
    <span>Profil 4</span>
    <span>Opis</span>
  </div>
</div>
