<header>
  <h1 id="logo" routerLink="/">invariant</h1>
  <nav>
    <ul>
      <li
        class="parallelogram"
        routerLink="/"
      >
        <strong>TimeWeb</strong>
      </li>
      <li class="top-10"><strong>web dizajn</strong></li>
      <li class="top-10"><strong>o nama</strong></li>
      <li class="top-10"><strong>kontakt</strong></li>
      <li
        class="top-10"
        routerLink="/list"
      >
        <strong>
          lista ({{number}})
        </strong>
      </li>
    </ul>
  </nav>
</header>
